 <div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->

    <div class="error-container">
      <div class="well">
        <h1 class="grey lighter smaller">
          <span class="blue bigger-125">
            <i class="ace-icon fa fa-sitemap"></i>
           {{title}} - Total Donations: {{TotalDonations |nfcurrency:'$':100}}
          </span>
   		{{subtitle}}
        </h1>

        <hr />
   		<div my-form></div>


        <hr />
           		<div my-form></div>
           		   		<div my-form></div>
           		   		   		<div my-form></div>
           		   		   		   		<div my-form></div>
           		   		   		   		
        <div class="space"></div>

        <div class="center">
          <a href="#/" class="btn btn-primary">
            <i class="ace-icon fa fa-tachometer"></i>
            Dashboard
          </a>
        </div>
      </div>
    </div>

    <!-- PAGE CONTENT ENDS -->
  </div><!-- /.col -->
</div><!-- /.row -->

