 <div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->

    <div class="error-container">
      <div class="well">
        <h1 class="grey lighter smaller">
          <span class="blue bigger-125">
            <i class="ace-icon fa fa-sitemap"></i>
           {{title}} - Total Donations: {{TotalDonations }}
          </span>
   		{{subtitle}}
        </h1>

        <hr />
        <div>
	        <div class="space"></div>
       		<!-- Add new Donor -->
			<div class="space"></div>
	        <p>
				<button ng-click="toggleForm()">Add New donor </button>

				<form ng-show="showForm">
					<label>Name</label>
					<input type="text" ng-model="donorForm.Name" capitalize-first>
					<br />
					<label>Email</label>
					<input type="email" ng-model="donorForm.Email" >	
					<br />
					<button ng-click="submitForm()">Submit</button>
				</form>
			</p>
			<hr>
			<div> 
				<p ng-repeat="donor in listOfDonors">{{donor.Name}} {{donor.Email}} <button ng-click="delete($index)">delete</button></p>
			</div>
			<hr>
			<table id="sample-table-1" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th></th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="donor in listOfDonors">
						<td>{{donor.Name}} </td>
						<td>{{donor.Email}} </td>
						<td>
							<div class="btn-group">
								<button class="btn btn-xs btn-info">
									<i class="ace-icon fa fa-pencil bigger-120"></i>
								</button>

								<button class="btn btn-xs btn-warning" ng-click="DonationModal(donor)">
									<i class="ace-icon fa fa-flag bigger-120"></i>
								</button>
							</div>
						</td>
					</tr>

				</tbody>
			</table>

        </div>

        <hr />
        <div class="space"></div>

        <div class="center">
          <a href="#/" class="btn btn-primary">
            <i class="ace-icon fa fa-tachometer"></i>
            Dashboard
          </a>
        </div>
      </div>
    </div>

    <!-- PAGE CONTENT ENDS -->
  </div><!-- /.col -->
</div><!-- /.row -->

